@{
    ViewData["Title"] = "PROFİL";
}

@section Styles {
    <link rel="stylesheet" href="~/css/profile.css" />
}

<div class="center">
    @if (ViewBag.level % 2 == 0)
    {
        <div class="card green">
            <div class="additional">
                <div class="user-card">
                    <div class="level center">
                        Level @ViewBag.level
                    </div>
                    <div class="points center">
                        @ViewBag.points Points
                    </div>
                    <svg width="110" height="110" viewBox="0 0 250 250" xmlns="http://www.w3.org/2000/svg" role="img"
                        aria-labelledby="title desc" class="center">
                        <style>
                            .skin {
                                fill: #000;
                            }
                        </style>
                        <defs>
                            <clipPath id="scene">
                                <circle cx="125" cy="125" r="115" />
                            </clipPath>
                        </defs>
                        <circle cx="125" cy="125" r="120" fill="rgba(0,0,0,0.15)" />
                        <g stroke="none" stroke-width="0" clip-path="url(#scene)">
                            <rect x="0" y="0" width="250" height="250" fill="#b0d2e5" />
                            <g id="head">
                                <circle cx="125" cy="110" r="55" class="skin" />
                                <rect x="110" y="155" width="30" height="20" class="skin" />
                            </g>
                            <g id="shirt">
                                <path fill="#000"
                                    d="M 132,170 C 146,170 154,200 154,200 154,200 158,250 158,250 158,250 92,250 92,250 92,250 96,200 96,200 96,200 104,170 118,170 118,170 125,172 125,172 125,172 132,170 132,170 Z" />
                                <path id="arm-left" class="arm" stroke="#000" fill="none" stroke-width="14"
                                    d="M 118,178 C 94,179 66,220 65,254" />
                                <path id="arm-right" class="arm" stroke="#000" fill="none" stroke-width="14"
                                    d="M 132,178 C 156,179 184,220 185,254" />
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="more-info">
                    <h1>@ViewBag.name</h1>
                    <div class="stats">
                        <div>
                            <div class="title">Awards</div>
                            <i class="fa fa-trophy"></i>
                            <div class="value">@ViewBag.awards</div>
                        </div>
                        <div>
                            <div class="title">Completed</div>
                            <i class="fa fa-gamepad"></i>
                            <div class="value">@ViewBag.completed</div>
                        </div>
                        <div>
                            <div class="title">Position</div>
                            <i class="fa-solid fa-people-group"></i>
                            <div class="value">@ViewBag.position</div>
                        </div>
                        <div>
                            <div class="title">Points</div>
                            <i class="fa fa-coffee"></i>
                            <div class="value">@ViewBag.points</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="general">
                <h1>@ViewBag.name</h1>
                <span class="more">Mouse over the card for more info</span>
            </div>
        </div>
    }
    else
    {
        <div class="card">
            <div class="additional">
                <div class="user-card">
                    <div class="level center">
                        Level @ViewBag.level
                    </div>
                    <div class="points center">
                        @ViewBag.points Points
                    </div>
                    <svg width="110" height="110" viewBox="0 0 250 250" xmlns="http://www.w3.org/2000/svg" role="img"
                        aria-labelledby="title desc" class="center">
                        <style>
                            .skin {
                                fill: #FFF;
                            }
                        </style>
                        <defs>
                            <clipPath id="scene">
                                <circle cx="125" cy="125" r="115" />
                            </clipPath>
                        </defs>
                        <circle cx="125" cy="125" r="120" fill="rgba(255,255,255,0.15)" />
                        <g stroke="none" stroke-width="0" clip-path="url(#scene)">
                            <rect x="0" y="0" width="250" height="250" fill="#b0d2e5" />
                            <g id="head">
                                <circle cx="125" cy="110" r="55" class="skin" />
                                <rect x="110" y="155" width="30" height="20" class="skin" />
                            </g>
                            <g id="shirt">
                                <path fill="#FFF"
                                    d="M 132,170 C 146,170 154,200 154,200 154,200 158,250 158,250 158,250 92,250 92,250 92,250 96,200 96,200 96,200 104,170 118,170 118,170 125,172 125,172 125,172 132,170 132,170 Z" />
                                <path id="arm-left" class="arm" stroke="#FFF" fill="none" stroke-width="14"
                                    d="M 118,178 C 94,179 66,220 65,254" />
                                <path id="arm-right" class="arm" stroke="#FFF" fill="none" stroke-width="14"
                                    d="M 132,178 C 156,179 184,220 185,254" />
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="more-info">
                    <h1>@ViewBag.name</h1>
                    <div class="stats">
                        <div>
                            <div class="title">Awards</div>
                            <i class="fa fa-trophy"></i>
                            <div class="value">@ViewBag.awards</div>
                        </div>
                        <div>
                            <div class="title">Completed</div>
                            <i class="fa fa-gamepad"></i>
                            <div class="value">@ViewBag.completed</div>
                        </div>
                        <div>
                            <div class="title">Position</div>
                            <i class="fa-solid fa-people-group"></i>
                            <div class="value">@ViewBag.position</div>
                        </div>
                        <div>
                            <div class="title">Points</div>
                            <i class="fa fa-coffee"></i>
                            <div class="value">@ViewBag.points</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="general">
                <h1>@ViewBag.name</h1>
                <span class="more">Mouse over the card for more info</span>
            </div>
        </div>
    }
</div>